a, #delete-product-btn{
    text-decoration: none;
    font-size: 15px;
    height: 1rem;
    padding: 10px 10px;
    margin: 24px 0 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
a{
    margin-left: 240px;
    background: #a0a5ad;
}
#delete-product-btn{
    border: none;
    padding: 10px 15px 27px 15px;
    margin-left: 22px;
    background: #971f28;
}

/* Product */
.container{
    width: 1300px;
    margin: auto 0 auto 50px;
}
.wrapper{
    padding: 20px;
}
.product-content{
    padding: 48px 8px 32px;
    text-align: center;
}
.product{
    height: 248px;
    width: 280px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 32px;
}
.delete-checkbox{
    margin: 16px 0 0 16px;

}
.product-name, .product-price, .product-category, .product-dimensions{
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}
.product-price, .product-category, .product-dimensions{
    font-size: 18px;
}
.product-category{
    margin-top: 12px;
}
/* Media Queries */
@media (max-width:562px) {
    .wrapper{
        margin-left: 32px;
    }
    .title{
        margin-left: -6px;
    }
    .blank{
        display: none;
    }
    .head{
        align-items: center;
    }
    a {
        margin-left: 16px;
    }
    #delete-product-btn{
        padding: 16px 8px 32px;
    }
}
@media screen and (min-width: 992px){
    .items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .items{
        grid-template-columns: repeat(4, 1fr);
        padding: 0 25px;
    }
}

@media screen and (max-width: 1336px){
    .items{
        grid-template-columns: repeat(4, 1fr);
    }
}